body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.image-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

img {
    max-width: 90%;
    height: auto;
    border: 2px solid #000;
}
